// FONTS
$main-font: 'Roboto Slab', serif;
$secondary-font: 'Red Hat Text', sans-serif;

// COLORS
$main-color: rgb(237,85,101);
$secondary-color: rgb(18, 102, 158);

// BACKGROUND
$main-background-color: rgb(221, 221, 221);
$secondary-background-color: rgb(237,85,101);
$third-background-color: rgb(18, 102, 158, 0.7);



